/* Fonts and Colors */
body {
  background:  rgb(224, 251, 252);
  color: rgb(41, 50, 65);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:  50px;
  color: rgb(238, 108, 77);	
}
h2 {
  font-family: 'Montserrat', sans-serif;	
  font-size: 18px;	
}
a {
  text-decoration: none;
  color: blue;	
}
a:hover {
  text-decoration: none;
  color: green;	
}

/* Custom Design */
#banner {
	background-image: url(https://picsum.photos/1000/600?random);
	background-size: cover;
	padding: 200px 0;
	text-align: center;
	color: white;
}
#banner h1 {
	color: white;
}
#banner p {
	color: white;
	font-size: 25px;
	font-weight: lighter; 
}

#intro {
	background-color: lightblue;
	text-align: center;
	font-size: 20px;

}


.card {
	padding: 50px;
	text-align: center;
}

#footer {
	padding: 20px;
	background: black;
	color: white;
	font-size: 15x;
	font-weight: lighter;
}
#footer p {
	opacity: 0.5;
}
#footer a {
	color: lightslategrey;
	font-size: 20px;
}
#footer a:hover {
	color: white;
}





